
/* 
    Created on : Jun 8, 2022, 1:18:47 PM
    Author     : chave
*/

*{
    
  font-family: sans-serif
  
    
    
}

#estilo1 {
    
    color:white;
    background-color: black;
    text-align: center;
    
    
}

.prueba {
    
    font: Verdana;
    background-color: red;
    color: white;
    
}